.banner-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  background: url("./sunflowers.png");
  background-size: cover;
  background-position: center;
  padding-top: 5rem;
}

@media screen and (max-width: 600px) {
  .banner-wrapper {
    height: 30vh;
  }
}

.bg-text {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 0% 3%;
}

.bg-text h1 {
  color: var(--anthracite);
  font-size: var(--h1);
  text-align: center;
  font-family: var(--mosaic-font);
  margin: 0.5rem 0;
}
