.grid-container-aboutSection {
  background-image: linear-gradient(
    to bottom,
    #fbe386,
    #fce58c,
    #fde792,
    #fde897,
    #feea9d,
    #ffe7aa,
    #ffe6b8,
    #ffe5c5,
    #ffe7dc,
    #ffeef2,
    #fff7fe,
    #ffffff
  );
  display: flex;
  flex-direction: column;
}

/* common */
.imgText-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 1.5rem 0;
}

@media screen and (min-width: 1000px) {
  .imgText-wrapper {
    width: 90%;
  }
}

@media (min-width: 600px) {
  .imgText-wrapper {
    flex-direction: row;
    /* Other styles for larger screens */
  }
}

/* img only container */
.img-container {
  flex: 1;
}

.img-container > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.img-container > div > img {
  box-shadow: -22px -22px 0px -3px var(--black);
  border-radius: 20px;
  max-width: 80%;
  height: auto;
}

/* text & button */
.welcoming-text {
  flex: 1;
}

.welcome-title {
  padding-bottom: 1.5rem;
  margin: 0;
  font-family: var(--abrilFatface-font);
  font-size: 3rem;
}

.welcome-text {
  font-family: var(--main-font);
  margin: 0;
  font-size: 2rem;
  padding-bottom: 1.5rem;
  text-align: justify;
}

@media screen and (max-width: 600px) {
  .welcome-title {
    font-size: 1.5rem;
  }
  .welcome-text {
    font-size: 1rem;
  }
  .imgText-wrapper {
    flex-direction: column;
  }
}

@media only screen and (min-width: 300px) and (max-width: 700px) {
}

.motto-container {
  padding: 20px;
  background: var(--black);
  margin: 0 1.5em;
  border-radius: 10px;
}

.motto-text {
  color: var(--yellow);
  text-align: center;
  font-family: var(--abrilFatface-font);
  font-size: 2.8rem;
}

@media (max-width: 600px) {
  .motto-text {
    font-size: 1.5rem;
  }
}

.hex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1em;
}

.hexagon {
  width: 380px;
  height: 430px;
  background-color: var(--dark-yellow);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  transform: rotate(90deg);
  transition: transform 0.3s ease-in-out;
}

.hexagon-inner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hexagon img {
  max-width: 50%;
  max-height: 50%;
  transform: rotate(-90deg);
}

@media screen and (min-width: 200px) and (max-width: 600px) {
  .hexagon {
    width: 80px;
    height: 100px;
  }
}

@media screen and (min-width: 601px) and (max-width: 1000px) {
  .hexagon {
    width: 130px;
    height: 160px;
  }
}

@media screen and (min-width: 1001px) and (max-width: 1500px) {
  .hexagon {
    width: 160px;
    height: 190px;
  }
}

/* Text for shopping section */

.shopping-section-textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.shopping-section-textContainer > p {
  font-family: var(--abrilFatface-font);
  font-size: 2rem;
}

.shopping-section-textContainer > h1 {
  font-family: var(--abrilFatface-font);
  font-size: 5rem;
  padding-bottom: 3rem;
}

@media (max-width: 400px) {
  .shopping-section-textContainer > p {
    font-size: 1rem;
  }
  .shopping-section-textContainer > h1 {
    font-size: 2rem;
  }
}
