h1 {
  text-align: center;
  padding: 1rem 0;
  font-family: var(--main-font);
  font-weight: var(--boldest);
  font-size: var(--h1);
}

.card-content h4 {
  font-size: var(--h4);
}

.card-content h5 {
  font-size: var(--h5);
}

.card-content h6 {
  font-size: var(--h6);
}

.card-content p {
  font-size: 1rem;
}

.card-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}

@media only screen and (max-width: 600px) and (min-width: 200px) {
  .card-wrapper {
    flex-direction: column;
  }
  h1 {
    font-size: 2rem;
  }
}

.card-container {
  padding: 1.5em;
  max-width: 400px;
  margin: 2rem;
  display: flex;
}

.card-content {
  padding: 1.5rem;
  border-radius: 15px;
  background: var(--white);
  box-shadow: var(--card-shadow);
}

.card-img-container > img {
  border-radius: 50%;
  border: 3px solid var(--dark-yellow);
  width: 150px;
  height: 150px;
}

.card-content > h2,
h3,
h4,
p {
  margin: 0.5em 0;
}
