/*custom properties */
:root {
  --dark-brown: #502414;
  --brown: #b87c34;
  --khaki: #d89c04;
  --light-yellow: #ffeca4;
  --dark-yellow: #ffc404;
  --yellow: #ffe404;
  --white: #fff;
  --gray: #848181;

  --main-font: "Montserrat", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "var(--main-font)";
}

a {
  text-decoration: inherit;
}

body {
  min-width: 320px;
  min-height: 100vh;
  font-family: var(--main-font);
}

.banner-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
  background: url("./assets/img/sunflowers.png");
  background-size: cover;
  background-position: center;
}

.bg-text {
  position: absolute;
  background-color: var(--yellow);
  margin: 5% 5%;
  border-radius: 20px;
}

p {
  color: var(--dark-brown);
  font-size: 32px;
  font-weight: 700;
  margin: 5% 5%;
}

@media only screen and (max-width: 600px) {
  p {
    font-size: 20px;
  }
}
