/*custom properties */
:root {
  --dark-brown: #502414;
  --brown: #b87c34;
  --khaki: #d89c04;
  --light-yellow: #ffeca4;
  --dark-yellow: #ffc404;
  --yellow: #ffe404;
  --white: #fff;
  --gray: #525151;
  --light-gray: #acadb2;
  --black: #000;
  --red: #ec0606;
  --anthracite: #292c33;
  --rich-gray: #1f2022;

  --main-font: "Montserrat", sans-serif;
  --mosaic-font: "Palette Mosaic", cursive;
  --abrilFatface-font: "Abril Fatface", cursive;
}
/*custom properties */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--main-font);
}

a {
  text-decoration: none;
}

a:visited {
  color: var(--white);
}

body {
  min-width: 320px;
  min-height: 100vh;
  font-family: var(--main-font);
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/***  Hero component starts here  ***/

.banner-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
  background: url("./assets/img/sunflowers.png");
  background-size: cover;
  background-position: center;
}

.bg-text {
  position: absolute;
  margin: 5% 5%;
}

.bg-text p {
  color: var(--anthracite);
  font-size: 5rem;
  text-align: center;
  font-family: var(--mosaic-font);
}

.bg-text .hero-text {
  color: var(--light-yellow);
  font-family: var(--abrilFatface-font);
  font-weight: 700;
  letter-spacing: 2px;
}

@media only screen and (min-width: 100px) and (max-width: 399px) {
  .bg-text > p {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 400px) and (max-width: 600px) {
  .bg-text > p {
    font-size: 2rem;
  }
}

/* Media query for screens between 600px and 1000px */
@media only screen and (min-width: 601px) and (max-width: 1000px) {
  .bg-text > p {
    font-size: 3rem;
  }
}

/* Media query for screens between 1000px and 1500px */
@media only screen and (min-width: 1001px) and (max-width: 1500px) {
  .bg-text > p {
    font-size: 4rem;
  }
}

/***  Hero component ends here  ***/

@media only screen and (max-width: 900px) {
  /* Adjust layout for screens with a minimum width of 768px */
  .imgText-wrapper {
    flex-direction: column;
  }

  .img-container {
    max-width: 50%;
  }
}

.grid-container__aboutSection {
  background-image: linear-gradient(
    to bottom,
    #fbe386,
    #fce58c,
    #fde792,
    #fde897,
    #feea9d,
    #ffe7aa,
    #ffe6b8,
    #ffe5c5,
    #ffe7dc,
    #ffeef2,
    #fff7fe,
    #ffffff
  );
}

.motto-container {
  padding: 20px;
  background: var(--black);
  margin: 0 1.5em;
  border-radius: 10px;
}

.motto-text {
  color: var(--yellow);
  text-align: center;
  font-family: var(--abrilFatface-font);
  font-size: 2.8rem;
}

@media (max-width: 600px) {
  .motto-text {
    font-size: 1.5rem;
  }
}

.hex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1em;
}

.hexagon {
  width: 380px;
  height: 430px;
  background-color: var(--dark-yellow);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  transform: rotate(90deg);
  transition: transform 0.3s ease-in-out;
}

.hexagon-inner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hexagon img {
  max-width: 50%;
  max-height: 50%;
  transform: rotate(-90deg);
}

@media screen and (min-width: 200px) and (max-width: 600px) {
  .hexagon {
    width: 80px;
    height: 100px;
  }
}

@media screen and (min-width: 601px) and (max-width: 1000px) {
  .hexagon {
    width: 130px;
    height: 160px;
  }
}

@media screen and (min-width: 1001px) and (max-width: 1500px) {
  .hexagon {
    width: 160px;
    height: 190px;
  }
}

/* Text for shopping section in Home page */

.shopping-section_textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.shopping-section_textContainer > p {
  font-family: var(--abrilFatface-font);
  font-size: 2rem;
}

.shopping-section_textContainer > h1 {
  font-family: var(--abrilFatface-font);
  font-size: 5rem;
  padding-bottom: 3rem;
}

@media (max-width: 400px) {
  .shopping-section_textContainer > p {
    font-size: 1rem;
  }
  .shopping-section_textContainer > h1 {
    font-size: 2rem;
  }
}

/* ShopSection Component: image-carousel */
.carousel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1500px;
  height: auto;
  margin-bottom: 2rem;
}

.slide {
  border-radius: 15px;
  width: 100%;
  height: 100%;
}

.slide-hidden {
  display: none;
}

.arrow {
  position: absolute;
  width: 2rem;
  height: 2rem;
  color: var(--dark-yellow);
}

.arrow:hover {
  cursor: pointer;
}

.arrow-left {
  left: 1rem;
}

.arrow-right {
  right: 1rem;
}

.indicators,
.arrow-left,
.arrow-right {
  display: flex;
  position: absolute;
  bottom: 1rem;
  z-index: 100000;
}

.indicator {
  background-color: var(--light-gray);
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 100%;
  border: none;
  outline: none;
  margin: 0 0.5rem;
  cursor: pointer;
}

.indicator-inactive {
  background-color: var(--dark-yellow);
}

/* About section in home page */

.welcoming-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 50%;
  height: auto;
  padding: 2em;
}

@media (max-width: 300px) {
  .welcoming-text {
    padding: 1em;
  }

  .welcoming-text > p {
    font-size: 1em;
  }
}

.card-content > h2,
h3,
h4,
p {
  margin: 0.5em 0;
}

/* About component  */

.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-img {
  border-radius: 8px;
  max-width: 400px;
  box-shadow: var(--dark-brown) 0px 8px 6px;
}

.img-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  margin: 20px;
}

.originalSrc {
  position: absolute;
  padding: 5px;
  color: var(--dark-brown);
  font-size: 14px;
  font-weight: 700;
}

.about-text {
  text-align: justify;
  font-size: 2rem;
  font-family: var(--main-font);
  color: rgba(0, 0, 0, 0.87);
  margin: 20px;
  line-height: 70px;
}

@media (max-width: 600px) {
  .about-section {
    flex-direction: column;
  }

  .about-img {
    margin-right: 0; /* Remove spacing between image and text on mobile view */
  }
  .about-text {
    font-size: 1rem;
    line-height: 30px;
  }
}

@media screen and (min-width: 600px) and (max-width: 1000px) {
  .about-text {
    font-size: 1rem;
    line-height: 30px;
  }
}

/* Error page */

.workingBee {
  max-width: 100%;
  height: auto;
  padding: 1em;
}

.text-container {
  padding: 1em;
  text-align: center;
}

.text-container p {
  color: var(--black);
  font-size: 40px;
}

.text-container p span {
  text-align: center;
  color: var(--red);
  letter-spacing: 2rem;
  font-size: 150px;
}

@media screen and (min-width: 200px) and (max-width: 1000px) {
  .workingBee {
    width: 200px;
  }
  .text-container p span {
    font-size: 30px;
  }
  .text-container p {
    font-size: 20px;
  }
}

/* ProductList p--ttile, amount, price */

.product_list,
.product_details {
  font-family: var(--main-font);
  font-size: 18px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin: 0px;
  color: var(--dark-brown);
}

@media screen and (min-width: 200px) and (max-width: 1000px) {
  .product_list {
    font-size: 14px;
  }
}

/* ProductDetails p--ttile, amount, price */

.product_details_container {
  display: flex;
  flex-direction: column;
}

.product_details {
  line-height: 30px;
  margin: 0;
  padding: 1.5rem;
  text-align: justify;
}

.title,
span {
  font-size: 24px;
  font-weight: 900;
}

@media screen and (min-width: 200px) and (max-width: 1000px) {
  .product_details {
    font-size: 14px;
    line-height: 20px;
    padding: 1rem 0.5rem;
  }

  .title,
  span {
    font-size: 18px;
  }
}
