/**! write seperate rules for paragraph, h1, h2, h3, h4 and rules for their media queries  **/

/*custom properties */
:root {
  --dark-brown: #502414;
  --brown: #b87c34;
  --khaki: #d89c04;
  --light-yellow: #ffeca4;
  --dark-yellow: #ffc404;
  --yellow: #ffe404;
  --white: #fff;
  --gray: #525151;
  --light-gray: #acadb2;
  --black: #000;
  --red: #ec0606;
  --anthracite: #292c33;
  --rich-gray: #1f2022;

  --main-font: "Montserrat", sans-serif;
  --mosaic-font: "Palette Mosaic", cursive;
  --abrilFatface-font: "Abril Fatface", cursive;

  --bold: 600;
  --bolder: 700;
  --boldest: 900;

  /* card box shadow */
  --card-shadow: 1px 0px rgb(10, 10, 10), 1px 1px rgb(10, 10, 10),
    2px 1px rgb(9, 9, 9), 2px 2px rgb(9, 9, 9), 3px 2px rgb(8, 8, 8),
    3px 3px rgb(8, 8, 8), 4px 3px rgb(7, 7, 7), 4px 4px rgb(7, 7, 7),
    5px 4px rgb(6, 6, 6), 5px 5px rgb(6, 6, 6), 6px 5px rgb(5, 5, 5),
    6px 6px rgb(5, 5, 5), 7px 6px rgb(4, 4, 4), 7px 7px rgb(4, 4, 4),
    8px 7px rgb(3, 3, 3), 8px 8px rgb(3, 3, 3), 9px 8px rgb(2, 2, 2),
    9px 9px rgb(2, 2, 2), 10px 9px rgb(1, 1, 1), 10px 10px rgb(1, 1, 1);

  /* warning box shadow */
  --warning-box: -15px -15px 2px -5px rgb(248, 179, 191, 0.5),
    -15px 15px 2px -5px rgb(146, 7, 146, 0.5),
    15px -15px 2px -5px rgba(255, 0, 0, 0.5),
    15px 15px 2px -5px rgba(198, 70, 2, 0.5);
}
/*custom properties */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--main-font);
}

a {
  text-decoration: none;
  color: var(--white);
}

body {
  min-width: 320px;
  min-height: 100vh;
  font-family: var(--main-font);
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* ====  PAGE ABOUT === */
.about-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.img-container > img {
  max-width: 100%;
  height: auto;
  border-radius: 15px;
  box-shadow: var(--card-shadow);
}

.img-container {
  flex: 1;
  padding: 1rem 1.5rem;
}

.about-text-container {
  flex: 1;
}

.about-text {
  text-align: justify;
  font-size: 2rem;
  font-family: var(--main-font);
  color: var(--black);
  padding: 0 1.5rem;
  margin: 0;
  line-height: 1.6;
}

.text-only {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-bottom: 1.5rem;
}

@media (max-width: 600px) {
  .about-section {
    flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  .about-text-container .about-text {
    font-size: 1rem;
  }
}
/* ====  PAGE ABOUT ENDS === */

/* === PAGE ERROR === */
.error-text-container {
  padding: 1em;
  text-align: center;
}

.error-text-container p {
  color: var(--black);
  font-size: 40px;
}

.error-text-container p span {
  text-align: center;
  color: var(--red);
  letter-spacing: 2rem;
  font-size: 150px;
}

@media screen and (min-width: 200px) and (max-width: 1000px) {
  .workingBee {
    width: 200px;
  }
  .error-text-container p span {
    font-size: 30px;
  }
  .error-text-container p {
    font-size: 20px;
  }
}
/* === PAGE ERROR ENDS === */

/* === PAGE PRODUCT LIST === */
.product-img {
  max-width: 100%;
  height: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card-info-wrpper {
  display: flex;
  flex-direction: column;
}

.rating {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem 1rem;
}

.product_list {
  font-family: var(--main-font);
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  margin: 0px;
  color: var(--dark-brown);
}

.title,
span,
.details {
  font-weight: 900;
}

.product-amount-and-price {
  display: flex;
  flex-wrap: wrap;
}

.product-amount-and-price > p {
  padding: 0 1rem;
}
.product-amount-and-price > p > span {
  padding-left: 0.5rem;
  font-size: 1.3rem;
}

.warning {
  display: block;
  position: fixed;
  top: 0;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  z-index: 10000;
  text-align: center;
  background: var(--light-yellow);
  color: var(--black);
  padding: 2rem;
  border-radius: 0 0 5px 5px;
  font-family: var(--main-font);
  font-size: 1.5rem;
  font-weight: 900;
  box-shadow: var(--warning-box);
}

@media screen and (max-width: 600px) {
  .warning {
    font-size: 1rem;
    padding: 1rem;
  }
}

/* === PAGE PRODUCT LIST ENDS === */

/*  === PAGE CONTACTDETAILS === */
.contact-details-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  font-family: var(--main-font);
  letter-spacing: 2px;
}
/*! removes extra space between cards and top text */
.contact-details-textOnTop {
  padding-bottom: 0;
}

.contact-details-text > h2 {
  padding-bottom: 1rem;
}
/* PAGE CONTACTDETAILS ENDS */

/* === PAGE PRODUCT DETAILS === */
.productDetails-img-container {
  padding: 1rem;
}

.productDetails-img-container > img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: var(--card-shadow);
}

.product-details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-details-container > * {
  padding: 0 1.5rem;
  padding-bottom: 1rem;
}

.product-details-info,
.product-details-price,
.product-details-amount {
  font-size: 1.5rem;
}

.product-details-title {
  font-family: var(--abrilFatface-font);
  padding-top: 1rem;
}

.product-details-info {
  line-height: 30px;
  margin: 0;
  text-align: justify;
}

.product-details-price > span,
.product-details-amount > span {
  margin-left: 0.5rem;
}

@media screen and (max-width: 600px) {
  .product-details-container {
    font-size: 1rem;
  }
  .product-details-info {
    font-size: 1rem;
  }
  .product-details-title {
    font-size: 1.5rem;
  }
}
/* === PAGE PRODUCT DETAILS ENDS === */

/* === CART PAGE === */
.cart-wrapper {
  display: flex;
  flex-direction: column;

  background-image: linear-gradient(
    to top,
    #fbe386,
    #fce58c,
    #fde792,
    #fde897,
    #feea9d,
    #ffe7aa,
    #ffe6b8,
    #ffe5c5,
    #ffe7dc,
    #ffeef2,
    #fff7fe,
    #ffeca4
  );
  color: var(--black);
}
.product-cntainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 0 1rem 1rem;
  color: var(--black);
}

.cart-item-img {
  flex: 1;
}

.cart-item-img > img {
  width: 150px;
  height: auto;
  border-radius: 8px;
  box-shadow: var(--card-shadow);
}

.all-btn-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 1rem 0 0;
}

.price-and-remove-btn {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
}

.total-sum {
  padding: 0.5rem 0 1rem 0;
}

/* === CART PAGE ENDS === */

/* === PAGE ERROR === */
.error-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.error-text-container > span {
  font-family: var(--abrilFatface-font);
  color: var(--red);
  font-size: 5rem;
  letter-spacing: 8px;
}
.error-text-container > span,
.error-text-container > p {
  padding: 0 1rem;
}
.error-text-container > p {
  font-size: 3rem;
}

.error-text-container {
  background: var(--light-yellow);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.error-img-container {
  background: var(--light-yellow);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.error-img-container > img {
  max-width: 100%;
  height: auto;
  padding: 1rem;
}

@media screen and (max-width: 600px) {
  .error-container {
    flex-direction: column;
  }
}
/* === PAGE ERROR ENDS === */
